.swiper {
  width: 100vw;
  height: 90vh;
}


.foto {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 650px) {
  .foto {
     width: 90vw;
    height: auto;
    object-fit: cover;
  }
}

.swiper-slide {
  width: auto; /* Tamanho fixo */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.swiper-button-prev {
  left: 10%; /* Personalize conforme o layout desejado */
  background-color: #D14A6A;
  padding: 30px;
  border-radius: 100%;
  color: #ECECE4;
}

.swiper-button-next {
  color: #ECECE4;

  right: 10%;
  padding: 30px;
  background-color: #D14A6A;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .swiper-button-prev {
display: none;
}

.swiper-button-next {
display: none;
}

}
